.about{
    padding-top: 120px;
    &__wrapper{
        display: grid;
        grid-template-columns: 400px 710px;
        grid-template-rows: minmax(243px, auto) minmax(136px, auto);
        grid-auto-rows: minmax(243px, auto);
        column-gap: 70px;
        row-gap: 40px;
    }
    &__img{
        grid-row: 1/3;
    }
    &__desc{
        padding-top: 2px;
        .line{
            margin-top: 0;
        }
    }
    &__title{
        min-width: 990px;
        position: relative;
        left: 6px;
        padding-top: 1px;
        @include before_circle;
    }
    &__subtitle{
        margin-top: 12px;
    }
    &__text{
        color: $text-color;
        font-size: 14px;
        line-height: 21px;
        margin-top: 24px;
    }
    &__skills{
        display: grid;
        grid-template-columns: repeat(2, minmax(116px, auto));
        grid-template-rows: repeat(2, 260px, auto);
        grid-auto-rows: 1fr;
        column-gap: 50px;
        row-gap: 20px;
        &-item{
            display: grid;
            grid-template-columns: 40px 200px;
            column-gap: 20px;
        }
        &-circle{
            position: relative;
            @include before_circle;
            &:before{
                top: 0;
                right: 0;
            }
            padding-top: 10px;
            padding-left: 23px;
        }
        &-text{
            color: $text-color;
            font-size: 12px;
            line-height: 18px;
            margin-top: 6px;
        }
    }
   
}
