@mixin before_circle{
    &:before{
        content: "";
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: #ffa501;
        top: -25%;
        right: 98%;
        z-index: -1;
    }
}
