@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');


@import 'base/variables';
@import 'base/mixins';



* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.line{
    width: 60px;
    height: 3px;
    background-color: $main_color;
    margin: 25px auto;
}

@import 'blocks/promo/promo';
@import 'blocks/title/title';
@import 'blocks/sidepanel/sidepanel';
@import 'blocks/buttons/buttons';
@import 'blocks/menu/menu';
@import 'blocks/about/about';
@import 'blocks/experience/experience';
@import 'blocks/skills/skills';
@import 'blocks/portfolio/portfolio';
@import 'blocks/price/price';
@import 'blocks/contacts/contacts';
@import 'blocks/media/media.scss';