.experience{
    padding-top: 120px;
    &__title{
        text-align: center;
        position: relative;
        @include before_circle;
        &:before{
            top: -25%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle{
        text-align: center;
    }
    &__wrapper{
        padding: 76px 68px 0 68px;
        display: grid;
        grid-template-columns: repeat(2, 417px);
        column-gap: 153px;
    }
    &__column{
        &-title{
            position: relative;
            padding-left: 35px;
            &:before{
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 15px;
                height: 15px;
                background-color: $main_color;
                border-radius: 100%;

            }
        }
        ul{
            list-style-type: none;
            li{
                position: relative;
                &:after{
                    content: '';
                    width: 1px;
                    height: calc(100% + 16px);
                    position: absolute;
                    top: -8px;
                    left: 7px;
                    background-color: #000;
                }
            }
        }
    }
    &__item{
        position: relative;
        &:before{
            content: "";
            width: 35px;
            height: 1px;
            position: absolute;
            top: 57px;
            left: 8px;
            background-color: #000;
        }
        &-head{
            position: relative;
            padding: 45px 0 0 99px;
        }
        &-body{
            padding: 12px 0 0 44px;
        }
       &-icon{
            position: absolute;
            top: 38px;
            left: 78px;
            @include before_circle;
            img{
                position: absolute;
                top: 17px;
                right: -4px;
            }
           
       }
       &-body{
            font-size: 12px;
            line-height: 18px;
       }

    }
}